1. In the below elements which of them are values or an expression? eg:- values can be
integer or string and expressions will be mathematical operators.
<h6>*-->expression</h6>
<h6>'hello'-->value</h6>
<h6>-87.8-->value(float!)</h6>
<h6>- -->expression</h6>
<h6>/ -->expression</h6>
<h6>+ -->expression</h6>
<h6>6 -->value</h6>

<h3>2 What is the difference between string and variable?</h3>
<h4>string is a data type , string defines what type of data variable can hold , string can be defined in single,double or multiple quotes and variable is a memory location to store data and it can hold any kind of data int,float ,string,bool </h4>

<h3>3 Describe three different data types.</h3>
<h4>int is integer can hold positive and negative whole numbers,numbers without decimal point or fraction</h4>
<h4>float can hold positive or negative fractions or real numbers</h4>
<h4>str string can hold anything under quotes<h4>

<h3>4 What is an expression made up of? What do all expressions do?<h3>
<h4>expressions are made up of operators and oprands , all expression do computation based on type of their operator and return a value</h4>

<h3>4 This assignment statements, like spam = 10. What is the difference between an
expression and a statement?</h3>
<h4>statements do not perform operation between two or more operands,spam=10 here we assigned 10 to spam but but the left side of spam we dont have operator as well as 2nd operand and so we aren't performing any operation  </h4>

<h3>6. After running the following code, what does the variable bacon contain?</h3>

In [1]:
bacon = 22
bacon + 1

23

<h3>7. What should the values of the following two terms be?</h3>

In [5]:
'spam'+'spamspam'

'spamspamspam'

In [4]:
'spam'*3

'spamspamspam'

<h3>8. Why is eggs a valid variable name while 100 is invalid?</h3>
<h4>because a number can not hold a value also variable gets stored in memory where it addresses the values it contains but a number stored in memory can not address a value </h4>

<h3>9. What three functions can be used to get the integer, floating-point number, or string
version of a value?</h3>
complex num conversion isn't posibble in int,float

In [19]:
a=10
str(a)

'10'

In [20]:
float(a)

10.0

In [21]:
int(a)

10

<h3>Why does this expression cause an error? How can you fix it?</h3>

In [30]:
'i have eaten '+99+'burritos.'
#type error --Concatenation of string can only happen with string

TypeError: can only concatenate str (not "int") to str

In [31]:
'i have eaten '+'99 '+'burritos.'

'i have eaten 99 burritos.'