<h1>Que 1</h1>

In [3]:
def is_symmetrical(x):
    temp=x
    rev=0
    while(x>0):
        digit=x%10
        rev=rev*10+digit
        x=x//10
    if(temp==rev):
        print('True')
    else:
        print('False')
    
a=int(input())
is_symmetrical(a)

 122

False

In [8]:
def is_symmetricall(x):
    temp=x
    z=str(x)
    z=z[::-1]
    z=int(z)
    if(temp==z):
        print('True')
    else:
        print('False')
a=int(input())
is_symmetricall(a)

 122

False

<h1>Que 2</h1>

In [32]:
def mul_num(x):
    mul=1
    s=x.split(",")
    res=[eval(i) for i in s]
    
    for i in res:
        
        mul=mul*i
    print(mul)
a=str(input("enter str of input saperated by comma"))    
mul_num(a)

enter str of input saperated by comma 1,2,3,5

30

<h1>Que 3</h1>

In [33]:
def sqr(x):
    return x*x
a=int(input("enter a number"))
sqr(a)

enter a number 4

16

<h1>Que 4</h1>

In [67]:
def dup_sort(x):
    x=set(x)
    x.discard(",")
    x=list(x)
    x.sort()
    return x
a=set(input("enter numbers"))

dup_sort(a)

enter numbers 1,2,4,4,5,5

['1', '2', '4', '5']

In [65]:
def dup_sort(x):
    y=sorted(set(x))
    return y
dup_sort([1,3,3,5,5])
dup_sort([4,4,4,4])

[4]

<h1>Que 5</h1>

In [54]:
def digit_mean(x):
    summ=0
    res=[eval(i) for i in x]

    for val in res:
        summ=summ+val
    z=int(summ/len(x))
    return z
a=list(input())
digit_mean(a)

 666

6