<h3>1. Set the variable test1 to the string &#39;This is a test of the emergency text system,&#39; and save test1 to a
file named test.txt.</h3>

In [1]:
test1= 'This is a test of the emergency text system'
with open('test.txt','w') as f:
    f.write(test1)
    f.close()

<h3>2. Read the contents of the file test.txt into the variable test2. Is there a difference between test 1
and test 2?</h3>

In [3]:
with open('test.txt','r') as f:
    test2=f.read()
    print(test2)
    f.close()
test2==test1

This is a test of the emergency text system

True

<h3>3. Create a CSV file called books.csv by using these lines:title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992</h3>

In [5]:
book='''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Miéville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992'''

with open('books.csv','w')as f:
    f.write(book)
    f.close()

<h3>4. Use the sqlite3 module to create a SQLite database called books.db, and a table called books with
these fields: title (text), author (text), and year (integer).</h3>

In [9]:
import sqlite3
conn=sqlite3.connect("books.db")
cur=conn.cursor()
cur.execute("CREATE TABLE books (title text, author text, year int)")
conn.commit()
conn.close()

<h3>5. Read books.csv and insert its data into the book table.</h3>

In [10]:
conn=sqlite3.connect("books.db")
cur=conn.cursor()
cur.execute("insert into books(title,author,year) values('python fundamentals','Dhruv Dave','2023')")
conn.commit()
conn.close()

<h3>6. Select and print the title column from the book table in alphabetical order.</h3>

In [12]:
conn=sqlite3.connect("books.db")
cur=conn.cursor()
cur.execute("select title from books order by title asc")
conn.commit()
conn.close()

<h3>7. From the book table, select and print all columns in the order of publication.</h3>

In [13]:

conn = sqlite3.connect('books.db')
cursor = conn.cursor()
ouput = cursor.execute("SELECT * FROM books ORDER BY year")
for record in ouput:
    print(record)

('python fundamentals', 'Dhruv Dave', 2023)

<h3>8. Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in
exercise 6.</h3>

In [14]:
import sqlalchemy
conn = sqlalchemy.create_engine('sqlite:///books.db')
conn

Engine(sqlite:///books.db)

<h3>9. Install the Redis server and the Python redis library (pip install redis) on your computer. Create a
Redis hash called test with the fields count (1) and name (&#39;Fester Bestertester&#39;). Print all the fields for
test.</h3>

In [17]:
# ! python -m pip install redis


import redis
conn = redis.Redis()
conn.hset('test',{
    'count':1,
    'name':'Fester Bestertester'
})
conn.hgetall('test')

<h3>10. Increment the count field of test and print it.</h3>

In [ ]:
conn.hincrby('test', 'count', 1)
conn.hget('test', 'count')